h1{
    color: goldenrod;
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}

#box{
    background-color: rgb(0 0 0 / 70%);
    width: 300;
    margin: auto;
    border: dashed 2px white;
}

body{
    background-image: url("background.jpg");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    color: white;
}

p{
    font-size: 20px;
}

#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    border: solid 2px white;
}

div{
    margin: 5px;
}